*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-size: 62.5%;
    --bg-color: #bbbed0;
    --text-color: #505050;
    --primary-color: #f0f8fb;
    --button-color: #32a4eb;
    --remove-color: #f05f5f;
}
html.dark{
    --text-color: #fff;
    --primary-color: #181a24;
    --seconde-color:#171921;
    --bg-color: #767882;
}
html.dark .ph-moon,
html:not(.dark) .ph-sun {
    display: none;
}
#toggle-mode{
    font-size: 3rem;
    position: fixed;
    top: 3rem;
    right: 3rem;
    padding: 0;
    text-align: right;
    color: var(--text-color);
    background-color: transparent;
     border: none;
    cursor: pointer;  
 }
body{
    font-family: 'DM Sans', sans-serif;
    background:var(--primary-color);
    display: grid;
    place-items: center;
}
.app{
    margin: 7rem auto auto auto;
    display: grid; 
}

header{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    padding: 3rem 3rem 3rem 3rem;
    align-items: start;  
}
section{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
input{
    font-family: 'DM Sans', sans-serif;
    height: 4rem;
    font-size: 1.5rem;
    background-color: var(--primary-color);
    width: 23rem;
    border: none;
    color: var(--text-color);
    border-bottom: 1px solid var(--text-color);
    outline: none;
}
button:focus{
    -webkit-tap-highlight-color: transparent;
}
button:active{
    -webkit-tap-highlight-color: transparent; 
    filter: brightness(0.9);
    transition: background-color 0.3s;
}
button.add{
    font-family: 'DM Sans', sans-serif;
    width: 9rem;
    cursor: pointer;
    background: var(--button-color);
    color: white;
    font-weight: bold;
    border: none;
    height: none;
    height: 4rem;
    border-radius: .6rem;
}
h2{
    color: var(--text-color);
}
span{
    color: var(--button-color);
}
main{
    display: flex;
    flex-flow: row wrap;
    width: 34rem;
    max-height: 40rem;
    overflow-y: auto;
    margin: auto; 
}

main::-webkit-scrollbar {
    width: .4rem;
    position: absolute;
    right: 0;
  }
  
main::-webkit-scrollbar-thumb{
    background-color: #949494;
    height: 5rem;
    border-radius: 1rem;
    border: .8rem solid rgba(0, 0, 0, 0);
  }

.item{
    display: grid;
    grid-template-columns: 10% 62% 28%;
    align-items: center;
    background: var(--seconde-color);
    height: 5rem;
    width: 100%;
    color: var(--text-color);
    border-radius: .5rem;
    margin-bottom: 2%;
}
.item.clicado{
    background: var(--primary-color);
}
.item.item.clicado .item-nome{
    text-decoration: line-through;
    color: gray;
}
.item-icone{
    cursor: pointer;
    text-align: center;
    font-size: 2rem;
}
.item-nome{
    font-size: 1.5rem;  
}
.item-botao{
    display: flex;
    gap: 1rem; 
}
.delete{
    background: var(--remove-color);
    color: white;
    border: none;
    padding: 1rem;
    height: 4rem;
    width: 4rem;
    font-size: 2rem;
    border-radius: .5rem;
    cursor: pointer;
}
.edit{
    background: var(--button-color);
    color: white;
    border: none;
    padding: 1rem;
    height: 4rem;
    width: 4rem;
    font-size: 2rem;
    border-radius: .5rem;
    cursor: pointer;
}
.mdi-check-circle{
    color: var(--button-color);
}

@media (min-width: 700px){
    body{
        background-color: var(--bg-color);
    }
    .app{
        background-color: var(--primary-color);
        border-radius: 1rem;
        padding: 2rem 1rem 2rem 1rem ;
    }  
    
}